<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nooblearn</title>
    <% include layout/scripts.ejs %>
    </head>
    <body ng-app="noobLearn">
        <% include layout/navbar.ejs %>

        <div class="container">
            <ng-view></ng-view>
        </div>

        <% include layout/footer-scripts.ejs %>
    </body>
</html>