/* app css stylesheet */
body {
    background-color: #232323;
    color: #999999;
}

.well {
    background-color: #272727;
    border: 1px solid #202020;
    /*box-shadow: 0px -1px 1px #000000;*/
}

.jumbotron {
    background-color: #272727;
    border: 1px solid #202020;
}

.form-control {
    background-color: #393939;
    border: 1px solid #000000;
    color: #ffffff;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #333333;
}

hr.thick-line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #333333;
}

/*Changes form input to pink when invalid*/
input.ng-invalid.ng-dirty {
    background-color: lightpink;
    color: #000;
}

.hoverwell:hover {
    background-color: #52575c;
    cursor: pointer;
}
select, textarea {
    color: #52575c;
}

h3.well-title {
    margin-top: 0px;
}
.course {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.course {
    list-style-type: none;
}

.votingWidget {
    height: 64px;
    padding: 7px;
}

.votingButton {
    padding-left:3px;
    cursor:pointer;
}

.courseThumbnail {
    height:100%;
    overflow: hidden;
}

.calendar{
    border: 1px solid #555;
    width: 238px;
}
.calendar .row {
    margin-left: 0px;
}
.calendar .row div{
    float:left;
    padding:2px;
    width:30px;
    text-align:center;
}
.calendar-nav-left {
    float:left;
    width: 20px;
    padding:2px;
}
.calendar-nav-right {
    float:left;
    width: 20px;
    padding:2px;
    text-align:right;
}

.calendar .row .calendar-hdr {
    padding:2px;
    float:left;
    width: 166px;
    text-align:center;
}
.pointer {
    cursor: pointer;
}
.date-picker {
    position: absolute;
    top: -7px;
    left: 209px;
    background-color: #272b30;
}

.course-thumb {
    max-height: 200px;
}

.img-thumbnail {
    background-color: transparent;
    border: 1px solid #272727;
}