<div ng-controller="CourseController">
    <h3>Courses</h3>

    <!--<div class="row">-->
        <!--&lt;!&ndash;<div class="col-lg-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-lg-3">&ndash;&gt;-->
                <!--&lt;!&ndash;Sort by: <select class="" data-style="btn-primary" ng-model="sortCourse">&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="title">Course</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="language">Language</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="experienceLevel">Level</option>&ndash;&gt;-->
                <!--&lt;!&ndash;</select>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-lg-1">&ndash;&gt;-->
                <!--&lt;!&ndash;Limit: <input type="number" class="form-control" step="1" min="0" max="8" ng-model="rowLimit">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-lg-8"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&lt;!&ndash; /.col-lg-12 &ndash;&gt;&ndash;&gt;-->

    <!--</div>-->
    <hr class="thick-line">
    <div class="row">
        <div class="col-lg-8">
            <ul class="list-group course well" ng-repeat="course in courses">
                <li><h3>{{ course.title }}</h3></li>
                <hr>
                <li>
                    <img ng-src="{{course.imageUrl}}" alt="" class="img-responsive img-thumbnail course-thumb">
                </li>
                <br>
                <li><b>Description:</b> {{ course.description }}</li>
                <li><b>Language:</b> {{ course.language }}</li>
                <li><b>Level:</b> {{ course.experienceLevel}}</li>
                <!--<li><b>Progress:</b><br>-->
                    <!--<div class="progress">-->
                        <!--<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {{course.progress | progress}}%">-->
                            <!--{{ course.progress | progress }}%-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->

            </ul>
        </div>
    </div>

</div><!--~ End CoursesCtrl ~-->
