<div class="jumbotron" ng-controller="HomeController">
	<div class="container">
		<h1>Nooblearn</h1>
		<p>A video compliation website for new programmers</p>
		<p>
			<a href="/signup" class="btn btn-success btn-lg">Join!</a>
		</p>
	</div>
</div>