<div class="jumbotron">
	<div class="container">
		<h1>Nooblearn</h1>
		<p>A video compliation website for new programmers</p>
		<p>
			<a class="btn btn-warning btn-lg">Join!</a>
		</p>
	</div>
</div>